html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** DARK THEME */
/* html {
  filter: invert(100%);
}

img {
  filter: invert(100%);
} */

/**This CSS automatically applies dark mode if your operating system supports it and automatically switches at specific times: */
/* @media (prefers-color-scheme: dark) {
  html {
    filter: invert(100%);
  }

  img {
    filter: invert(100%);
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;